<header class="nb-mobile-header">
    <div class="nb-mobile-top">
        <a href="">{% include icons/logo-ns.svg %}</a>
        <a href="">{% include icons/user--small.svg %}</a>
        <a href="">{% include icons/menu--small.svg %}</a>
        <a href="">{% include icons/close-m--small.svg %}</a>
    </div>
    <div class="nb-mobile-main">
        <div class="nb-mobile-main__body">
            <ul>
                <li>Reisinformatie<span>></span></li>
            </ul>
            <div class="buttons">
                <button>Plan je reis</button>
                <button>Koop kaartje</button>
            </div>
            <ul>
                <li>Zakelijk</li>
            </ul>
        </div>
        <div class="nb-mobile-main__footer">
            <span class="nb-mobile-langs">
                <a class="nb-mobile-langs__lang" href="">NL</a>
                <a class="nb-mobile-langs__lang" href="">EN</a>
            </span>
            <a href="">
                <span>{% include icons/search--small.svg %}</span>
                <span>Zoeken</span>
            </a>
        </div>
    </div>
</header>