<header class="header nb-header">
    <div class="container header__content nb-navbar">
        
        <div class="nb-navbar__row">
            <ul class="nb-menu js-menu">
                <li class="nb-menu__item"><a class="unlink nb-ns-logo" href="">{% include icons/logo-ns.svg %}</a></li>
                {% for item in site.data.menu %}
                    <li class="nb-menu__item js-menu-item" data-page="{{ forloop.index }}">
                        <a class="unlink" href="">{{item.name}}</a>
                        <div class='nb-menu-page js-menu-pages' data-page="{{forloop.index}}">
                            <div class="nb-menu-page__grid">
                            {% for header in item.headers%}
                                <ul class="nb-sub-menu">
                                    <li>
                                        <h3 class="nb-sub-menu__title">{{ header.name }}</h3>
                                        <ul class="nb-sub-menu__link-list">
                                            {% for topic in header.topics%}
                                                <li>
                                                    {% if topic.name != "" %}
                                                        <h4 class="nb-sub-menu__sub-title">{{ topic.name }}</h4>
                                                    {% endif %}
                                                    <ul class='nb-sub-menu__topic-list'>
                                                        {% for link in topic.links %}
                                                            <li><a class="nb-sub-menu__link unlink" href="">{{link}}</a></li>
                                                        {% endfor%}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            {% endfor %}
                            </div>
                            {% if item.footer %}
                            <div class='nb-menu-page__footer'>
                                <img src="http://placehold.it/50x50" alt="">
                                <h3>{{item.footer.text}}</h3>
                                <a class="unlink" href="">{{item.footer.link}}</a>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="" class="nb-rounded unlink">
                <span class="nb-rounded__item">{% include icons/user--small.svg %}</span>
                <span class="nb-rounded__item nb-u-bold">Mijn NS</span>
                <span class="nb-rounded__item nb-u-twist">{% include icons/chevron-s--small.svg %}</span>
            </a>
            <span class="{ nb-rounded nb-rounded--tight } nb-u-margin-left">
                <!-- <input class="nb-rounded__item" type="text" placeholder="Zoeken"> -->
                <button class="nb-rounded__item" type="submit">{% include icons/search--small.svg %}</button>
            </span>
        </div>
        <div class="nb-navbar__row">
            <ul class="nb-menu nb-menu--sub">
                <li class="nb-menu__item "><a class="unlink" href="">Zakelijk</a></li>
                <li class="nb-menu__item "><a class="unlink" href="">NS International</a></li>
                <li class="nb-menu__item "><a class="unlink" href="">In English</a></li>
            </ul>
        </div>
    </div>
</header>

<!--
{% for item in site.data.menu %}
    <h1>{{item.name}}</h1>
    {% for header in item.headers %}
        <h2>{{header.name}}</h2>
        {% for topic in header.topics %}
            <h3>{{topic.name}}</h3>
            <ul>
            {% for link in topic.links %}
                <li>
                    {% if link.first %}
                        <icon class="{{links.icon}}">:D </icon>
                        {{link.name}}
                    {% else %}
                        {{link}}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endfor%}
    {% endfor%}
{% endfor %}
-->