<header id="m-header" class="nb-mobile-header js-open">
    <div class="nb-mobile-top nb-flex">
        <a class="nb-flex__span" href="">{% include icons/logo-ns.svg %}</a>
        <a href="">{% include icons/user--small.svg %}</a>
        <a class="js-toggle" data-target="m-menu" href="">{% include icons/menu--small.svg %}</a>
    </div>
    <div id="m-menu" class="nb-mobile-main { nb-flex nb-flex--column }">
        <div class='nb-mobile-top nb-flex'>
            <a class="nb-flex__span" href="">{% include icons/logo-ns.svg %}</a>
            <a class="js-toggle" data-target="m-menu" href="">{% include icons/close-m--small.svg %}</a>
        </div>
        
        <div class="nb-mobile-main__body { nb-flex nb-flex--column } nb-flex__span">
            
            <div class="nb-flex__span">
                <ul>
                    {% for item in site.data.menu %}
                    <li>
                        <a class="nb-mobile-link unlink nb-flex js-toggle" href="" data-target="m-sub">
                            <span class="nb-flex__span">{{ item.name }}</span>
                            <span>{% include icons/chevron-s--small.svg %}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="nb-flex nb-flex--sb">
                    <button class="nb-mobile-button">Plan je reis</button>
                    <button class="nb-mobile-button">Koop je kaartje</button>
                </div>
                <ul>
                    <li>Zakelijk</li>
                </ul>
            </div>
            <hr class="nb-divider">
            <div class="nb-mobile-main__footer { nb-flex nb-flex--sb }">
                <span class="nb-mobile-langs">
                    <a class="nb-mobile-langs__lang" href="">NL</a>
                    <a class="nb-mobile-langs__lang" href="">EN</a>
                </span>
                <a href="">
                    <span>{% include icons/search--small.svg %}</span>
                    <span>Zoeken</span>
                </a>
            </div>
            <div id='m-sub' class="nb-test-shit js-hide js-toggle" data-target="m-sub">
                <a class="nb-mobile-link unlink nb-flex js-toggle" href="javascript:void(0)" data-target="m-sub">
                    <span class="nb-flex__span">Reisinformatie</span>
                </a>
            </div>
        </div>
    </div>
</header>