<header class="header nb-header">
    <div class="container header__content nb-navbar">
        
        <div class="nb-navbar__row">
            <ul class="nb-menu js-menu">
                <li class="nb-menu__item"><a class="unlink nb-ns-logo" href="">{% include icons/logo-ns.svg %}</a></li>
                {% for item in site.data.menu %}
                    <li class="nb-menu__item js-menu-item" data-page="{{ forloop.index }}"><a class="unlink" href="">{{item.name}}</a></li>
                {% endfor %}
            </ul>
            <a href="" class="nb-rounded unlink">
                <span class="nb-rounded__item">{% include icons/user--small.svg %}</span>
                <span class="nb-rounded__item nb-u-bold">Mijn NS</span>
                <span class="nb-rounded__item nb-u-twist">{% include icons/chevron-s--small.svg %}</span>
            </a>
            <span class="{ nb-rounded nb-rounded--tight } nb-u-margin-left">
                <!-- <input class="nb-rounded__item" type="text" placeholder="Zoeken"> -->
                <button class="nb-rounded__item" type="submit">{% include icons/search--small.svg %}</button>
            </span>
        </div>
        <div class="nb-navbar__row">
            <ul class="nb-menu nb-menu--sub">
                <li class="nb-menu__item "><a class="unlink" href="">Zakelijk</a></li>
                <li class="nb-menu__item "><a class="unlink" href="">NS International</a></li>
                <li class="nb-menu__item "><a class="unlink" href="">In English</a></li>
            </ul>
        </div>
    </div>
</header>
{% for item in site.data.menu %}
    <div class='nb-menu-page js-menu-pages' data-page="{{forloop.index}}">
        <span>{{item.name}}</span>
    </div>
{% endfor %}
<!--
{% for item in site.data.menu %}
    <h1>{{item.name}}</h1>
    {% for header in item.headers %}
        <h2>{{header.name}}</h2>
        {% for topic in header.topics %}
            <h3>{{topic.name}}</h3>
            <ul>
            {% for link in topic.links %}
                <li>
                    {% if link.first %}
                        <icon class="{{links.icon}}">:D </icon>
                        {{link.name}}
                    {% else %}
                        {{link}}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endfor%}
    {% endfor%}
{% endfor %}
-->